html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #121212;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.nav-dark {
    background-color: #272727 !important;
}

.center-items {
    display: flex;
    justify-content: center;
}

.search-wrapper {
    background-color: #272727;
    padding: 16px;
}

.btn-dark-mode {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: transparent;
    background-image: none;
}

.btn-dark-mode:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.basic-char-details-wrapper {
    padding: 10px;
    color: #17a2b8;
    border: #17a2b8 1px solid;
    border-radius: 6px;
}

.char-name {
    font-size: 26px;
}

.char-name:hover {
    color: #fff;
}

.current-rating {
    display:block;
    float:right;
    font-size: 18px;
    line-height: 38px;
}

.char-span {
    display: block;
}

.affixes-wrapper {
    font-size: 13px;
    border:#17a2b8 1px solid;
    border-radius: 6px;
    padding: 3px;
}

.affixes-title{
    font-size: 16px;
    font-weight: 700;
}

.members-wrapper {
    font-size: 13px;
    border:#17a2b8 1px solid;
    border-radius: 6px;
    padding: 3px;
}

.members-title{
    font-size: 16px;
    font-weight: 700;
}





/**
    class colors
*/

.Rogue {
    color: #FFF468;
}

.DeathKnight {
    color: #C41E3A;
}

.DemonHunter {
    color: #A330C9;
}

.Druid { 
    color: #FF7C0A;
}

.Hunter {
    color: #AAD372;
}

.Mage {
    color: #3FC7EB;
}

.Monk {
    color: #00FF98;
}

.Paladin {
    color: #F48CBA;
}

.Priest {
    color: #FFFFFF;
}

.Shaman {
    color: #0070DD;
}

.Warlock {
    color: #8788EE;
}

.Warrior {
    color: #C69B6D;
}